/* Add google font */

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,300,500";

/* Browser selection color */
::-moz-selection { /* Code for Firefox */
  color: white;
    background: #81a5b3;
}

::selection {
  color: white;
  background: #81a5b3;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background: #ededed;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 9px 0;
    background-color: #60737b;
}

/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
    padding-top: 60px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}
.message-box {
    overflow: auto;
    height: 400px;
}
.message-box::after{
  content: '';
  clear: both;
  display: block;
  overflow: hidden;
}
.message-box .blockquote{
  width: 51%;
  float: left;
  text-align:left;
  padding-left: 0;
  padding-right: 0;
}
.message-box .blockquote.blockquote-reverse{
  float: right;
}
.user-avatar{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 11px;
  position: relative;
  background: #fff;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-avatar:before{
  content: "\f007";
  font-family: FontAwesome;
  position: absolute;
  top: 11px;
  left: 0px;
  color: #a8bac1;
  font-size: 23px;
  width: 100%;
  text-align: center;
}
.user-avatar .strip{
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  right: -11px;
  border-style: solid;
  border-color: #4bbbe7 #4bbbe7 transparent transparent;
  border-width: 7px;
}
.blockquote-reverse .user-avatar .strip{
  right: auto;
  left: -11px;
  border-color: #fff transparent transparent #fff;
}
.blockquote-reverse .user-avatar{
  float: right;
  margin-left: 11px;
  margin-right: 0;
}
.msg-content{
  overflow: hidden;
  padding: 10px;
  background: #4bbbe7;
  border-radius: 0px  6px 6px 6px;
  -webkit-border-radius: 0px  6px 6px 6px;
  -moz-border-radius: 0px  6px 6px 6px;
  -ms-border-radius: 0px  6px 6px 6px;
  -o-border-radius: 0px  6px 6px 6px;
}
.blockquote-reverse .msg-content{
  background: #ffffff;

  border-radius: 6px 0px 6px 6px;
  -webkit-border-radius: 6px 0px 6px 6px;
  -moz-border-radius: 6px 0px 6px 6px;
  -ms-border-radius: 6px 0px 6px 6px;
  -o-border-radius: 6px 0px 6px 6px;
}
.blockquote p{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.blockquote-reverse.blockquote p{
  color:#a4a4a4;
}
.blockquote .blockquote-footer{
  color: #bbe3f2;
  font-size: 12px;
}
.blockquote-reverse.blockquote .blockquote-footer{
  color: #dadbdc;
}
.blockquote .blockquote-footer small {
  font-size: 11px;
  font-style: normal;
}
.pos-f-t .bg-faded{
  background-color: #4bbbe7;
}
.pos-f-t .bg-faded .navbar-brand, .pos-f-t .bg-faded .navbar-brand:hover{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.page-header h1{
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  background: #8da7b0;
  color: #fff;
  padding: 13px 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.msg-editor{
  margin-right: -10px;
}
.msg-editor .form-control{
    padding: 13px 15px;
    font-size: 19px;
    font-weight: 300;
    border: #4bbbe7 1px solid;

    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
}
.msg-button{
  margin-left: -19px;
}
.msg-button .btn {
  display: block;
  background: #4bbbe7;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 23px;
  padding: 10px 0;

  transition: background ease 0.2s;
  -webkit-transition: background ease 0.2s;
  -moz-transition: background ease 0.2s;
  -ms-transition: background ease 0.2s;
  -o-transition: background ease 0.2s;
}
.msg-button .btn:hover, .msg-button .btn:focus{
  background: #59cefd;
}
.footer .text-muted{
  color: #a9aeb0;
  font-size: 13px;
}
